In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('3.1-data-sheet-udemy-courses-web-development.csv')

In [3]:
df.head()

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
0,41295.0,Learn HTML5 Programming From Scratch,https://www.udemy.com/learn-html5-programming-...,0.0,268923.0,8629.0,45.0,Beginner Level,0.82,10.5,2013-02-14T07:03:41Z,Subject: Web Development
1,59014.0,Coding for Entrepreneurs Basic,https://www.udemy.com/coding-for-entrepreneurs...,0.0,161029.0,279.0,27.0,Expert Level,0.69,3.5,2013-06-09T15:51:55Z,Subject: Web Development
2,625204.0,The Web Developer Bootcamp,https://www.udemy.com/the-web-developer-bootcamp/,200.0,121584.0,27445.0,342.0,Beginner Level,0.89,43.0,2015-11-02T21:13:27Z,Subject: Web Development
3,173548.0,Build Your First Website in 1 Week with HTML5 ...,https://www.udemy.com/build-your-first-website...,0.0,120291.0,5924.0,30.0,All Levels,0.78,3.0,2014-04-08T16:21:30Z,Subject: Web Development
4,764164.0,The Complete Web Developer Course 2.0,https://www.udemy.com/the-complete-web-develop...,200.0,114512.0,22412.0,304.0,Beginner Level,0.55,30.5,2016-03-08T22:28:36Z,Subject: Web Development

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            1203 non-null   float64
 1   course_title         1203 non-null   object
 2   url                  1203 non-null   object
 3   price                1203 non-null   float64
 4   num_subscribers      1203 non-null   float64
 5   num_reviews          1203 non-null   float64
 6   num_lectures         1203 non-null   float64
 7   level                1203 non-null   object
 8   Rating               1203 non-null   float64
 9   content_duration     1203 non-null   float64
 10  published_timestamp  1203 non-null   datetime64[ns, UTC]
 11  subject              1204 non-null   object
 12  year                 1203 non-null   float64
dtypes: datetime64[ns, UTC](1), float64(8), object(4)
memory usage: 122.5+ KB

In [52]:
df[df.duplicated()]

Empty DataFrame
Columns: [course_id, course_title, url, price, num_subscribers, num_reviews, num_lectures, level, Rating, content_duration, published_timestamp, subject, year]
Index: []

## there is no data duplicated and no data empity (2 cells that is not big deal)

In [4]:
df['Rating'].unique()

array([0.82, 0.69, 0.89, 0.78, 0.55, 0.79, 0.85, 0.9 , 0.94, 0.39, 0.57,
       0.61, 0.96, 0.87, 0.73, 0.28, 0.76, 0.62, 0.  , 0.41, 0.18, 0.34,
       0.31, 0.52, 0.74, 0.07, 0.68, 0.77, 0.7 , 0.95, 0.4 , 0.05, 0.38,
       0.21, 0.32, 0.15, 0.22, 0.12, 0.14, 0.71, 0.24, 0.81, 0.04, 0.8 ,
       0.36, 0.86, 0.01, 0.19, 0.63, 0.03, 0.46, 0.88, 0.66, 0.67, 0.59,
       0.02, 0.48, 0.11, 0.53, 0.45, 0.26, 0.35, 0.44, 0.56, 0.58, 0.47,
       0.5 , 0.25, 0.3 , 0.64, 0.54, 0.1 , 0.99, 0.2 , 0.49, 0.29, 0.93,
       0.16, 0.84, 0.75,  nan, 1.  , 0.13, 0.17, 0.23, 0.92, 0.98, 0.08,
       0.42, 0.43, 0.27, 0.06, 0.6 , 0.51, 0.33, 0.37, 0.97, 0.72, 0.65,
       0.83, 0.91])

### best cources based on rating and number of subscribers

In [5]:
df[(df['Rating'] == df['Rating'].max())].sort_values(by='num_subscribers' ,ascending = False).head()

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
204,1017568.0,The Complete PHP Bootcamp Course With Video Sh...,https://www.udemy.com/php-bootcamp/,195.0,9831.0,56.0,74.0,Intermediate Level,1.0,14.500000,2017-03-21T23:50:38Z,Subject: Web Development
333,665042.0,8 Beautiful Ruby on Rails Apps in 30 Days & TD...,https://www.udemy.com/8-beautiful-ruby-on-rail...,100.0,5962.0,466.0,132.0,Beginner Level,1.0,16.000000,2016-03-08T07:36:40Z,Subject: Web Development
712,833182.0,JQuery DOM and Ajax Concept Explained for Begi...,https://www.udemy.com/jquery-dom-and-ajax-conc...,35.0,1812.0,112.0,7.0,All Levels,1.0,0.616667,2016-04-27T15:26:57Z,Subject: Web Development
1042,826366.0,Building a ASP.NET MVC 5 Membership Website,https://www.udemy.com/building-a-mvc-5-members...,95.0,654.0,86.0,239.0,Beginner Level,1.0,25.500000,2016-06-26T21:15:57Z,Subject: Web Development
1181,1063430.0,How to Build WordPress Themes: A Web Designer'...,https://www.udemy.com/how-to-build-wordpress-t...,165.0,183.0,30.0,47.0,Beginner Level,1.0,5.500000,2017-03-31T23:56:08Z,Subject: Web Development

### longest course duration

In [12]:
df[df['content_duration'] == df['content_duration'].max()]

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
266,548278.0,The Complete Web Development Course - Build 15...,https://www.udemy.com/complete-web-development...,200.0,7501.0,1213.0,384.0,All Levels,0.42,76.5,2015-11-09T22:01:02Z,Subject: Web Development

### longest course number lectures

In [13]:
df[df['num_lectures'] == df['num_lectures'].max()]

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
80,79154.0,Back to School Web Development and Programming...,https://www.udemy.com/back-to-school-web-devel...,200.0,18170.0,117.0,779.0,All Levels,0.4,44.5,2013-08-19T14:53:00Z,Subject: Web Development

#### number of review in courses in all levels( that mean beginner level is most selling)

In [27]:
df.groupby('level')['num_reviews'].max().to_frame().sort_values('num_reviews',ascending = False)

                    num_reviews
level
Beginner Level          27445.0
All Levels              16976.0
Intermediate Level       4675.0
Expert Level             3166.0

## highest price in all levels (that mean the level not depend on price)

In [28]:
df.groupby('level')['price'].max().to_frame().sort_values('price',ascending = False)

                    price
level
All Levels          200.0
Beginner Level      200.0
Intermediate Level  200.0
Expert Level        195.0

In [29]:
df.head()

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject
0,41295.0,Learn HTML5 Programming From Scratch,https://www.udemy.com/learn-html5-programming-...,0.0,268923.0,8629.0,45.0,Beginner Level,0.82,10.5,2013-02-14T07:03:41Z,Subject: Web Development
1,59014.0,Coding for Entrepreneurs Basic,https://www.udemy.com/coding-for-entrepreneurs...,0.0,161029.0,279.0,27.0,Expert Level,0.69,3.5,2013-06-09T15:51:55Z,Subject: Web Development
2,625204.0,The Web Developer Bootcamp,https://www.udemy.com/the-web-developer-bootcamp/,200.0,121584.0,27445.0,342.0,Beginner Level,0.89,43.0,2015-11-02T21:13:27Z,Subject: Web Development
3,173548.0,Build Your First Website in 1 Week with HTML5 ...,https://www.udemy.com/build-your-first-website...,0.0,120291.0,5924.0,30.0,All Levels,0.78,3.0,2014-04-08T16:21:30Z,Subject: Web Development
4,764164.0,The Complete Web Developer Course 2.0,https://www.udemy.com/the-complete-web-develop...,200.0,114512.0,22412.0,304.0,Beginner Level,0.55,30.5,2016-03-08T22:28:36Z,Subject: Web Development

In [37]:
df['published_timestamp'] = pd.to_datetime(df['published_timestamp'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            1203 non-null   float64
 1   course_title         1203 non-null   object
 2   url                  1203 non-null   object
 3   price                1203 non-null   float64
 4   num_subscribers      1203 non-null   float64
 5   num_reviews          1203 non-null   float64
 6   num_lectures         1203 non-null   float64
 7   level                1203 non-null   object
 8   Rating               1203 non-null   float64
 9   content_duration     1203 non-null   float64
 10  published_timestamp  1203 non-null   datetime64[ns, UTC]
 11  subject              1204 non-null   object
dtypes: datetime64[ns, UTC](1), float64(7), object(4)
memory usage: 113.1+ KB

### make column year

In [40]:
df['year'] = df['published_timestamp'].dt.year

In [41]:
df

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject,year
0,41295.0,Learn HTML5 Programming From Scratch,https://www.udemy.com/learn-html5-programming-...,0.0,268923.0,8629.0,45.0,Beginner Level,0.82,10.5,2013-02-14 07:03:41+00:00,Subject: Web Development,2013.0
1,59014.0,Coding for Entrepreneurs Basic,https://www.udemy.com/coding-for-entrepreneurs...,0.0,161029.0,279.0,27.0,Expert Level,0.69,3.5,2013-06-09 15:51:55+00:00,Subject: Web Development,2013.0
2,625204.0,The Web Developer Bootcamp,https://www.udemy.com/the-web-developer-bootcamp/,200.0,121584.0,27445.0,342.0,Beginner Level,0.89,43.0,2015-11-02 21:13:27+00:00,Subject: Web Development,2015.0
3,173548.0,Build Your First Website in 1 Week with HTML5 ...,https://www.udemy.com/build-your-first-website...,0.0,120291.0,5924.0,30.0,All Levels,0.78,3.0,2014-04-08 16:21:30+00:00,Subject: Web Development,2014.0
4,764164.0,The Complete Web Developer Course 2.0,https://www.udemy.com/the-complete-web-develop...,200.0,114512.0,22412.0,304.0,Beginner Level,0.55,30.5,2016-03-08 22:28:36+00:00,Subject: Web Development,2016.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,1227578.0,Learning Path: The Road to Elasticsearch,https://www.udemy.com/learning-path-the-road-t...,200.0,50.0,5.0,60.0,Beginner Level,0.96,5.0,2017-05-29 17:56:24+00:00,Subject: Web Development,2017.0
1201,1277924.0,Angular 4 Front To Back,https://www.udemy.com/angular-4-front-to-back/,40.0,44.0,0.0,68.0,All Levels,0.15,8.5,2017-07-06 15:04:55+00:00,Subject: Web Development,2017.0
1202,1248172.0,Essentials of Spring 5.0 for Developers,https://www.udemy.com/essentials-of-spring-50-...,125.0,34.0,2.0,21.0,Beginner Level,0.46,1.5,2017-06-11 18:34:40+00:00,Subject: Web Development,2017.0
1203,1250934.0,Display and analyze GIS data on the web with L...,https://www.udemy.com/display-and-analyze-gis-...,100.0,25.0,4.0,66.0,Beginner Level,0.67,12.5,2017-06-15 21:17:43+00:00,Subject: Web Development,2017.0
1204,1270222.0,Learning Path: Web Applications with Spring an...,https://www.udemy.com/learning-path-web-applic...,200.0,19.0,2.0,33.0,Beginner Level,0.12,4.0,2017-06-28 21:04:21+00:00,Subject: Web Development,2017.0

### highest selling in 2013

In [47]:
df.groupby('year')['num_subscribers'].max().to_frame().sort_values('num_subscribers',ascending = False)

        num_subscribers
year
2013.0         268923.0
2015.0         121584.0
2014.0         120291.0
2016.0         114512.0
2012.0          73110.0
2011.0          69186.0
2017.0          17784.0

### highest number of courses generated in 2016

In [48]:
df.groupby('year')['course_title'].count().to_frame().sort_values('course_title',ascending = False)

        course_title
year
2016.0           449
2015.0           336
2017.0           224
2014.0           115
2013.0            55
2012.0            19
2011.0             5

## there is no couses enough in level Expert

In [59]:
df.groupby('level')['level'].count().to_frame()

                    level
level
All Levels            633
Beginner Level        422
Expert Level           14
Intermediate Level    134

In [61]:
df.head(1)

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject,year
0,41295.0,Learn HTML5 Programming From Scratch,https://www.udemy.com/learn-html5-programming-...,0.0,268923.0,8629.0,45.0,Beginner Level,0.82,10.5,2013-02-14 07:03:41+00:00,Subject: Web Development,2013.0

## there are 134 course is free

In [62]:
df[df['price'] == 0]

,course_id,course_title,url,price,num_subscribers,num_reviews,num_lectures,level,Rating,content_duration,published_timestamp,subject,year
0,41295.0,Learn HTML5 Programming From Scratch,https://www.udemy.com/learn-html5-programming-...,0.0,268923.0,8629.0,45.0,Beginner Level,0.82,10.5,2013-02-14 07:03:41+00:00,Subject: Web Development,2013.0
1,59014.0,Coding for Entrepreneurs Basic,https://www.udemy.com/coding-for-entrepreneurs...,0.0,161029.0,279.0,27.0,Expert Level,0.69,3.5,2013-06-09 15:51:55+00:00,Subject: Web Development,2013.0
3,173548.0,Build Your First Website in 1 Week with HTML5 ...,https://www.udemy.com/build-your-first-website...,0.0,120291.0,5924.0,30.0,All Levels,0.78,3.0,2014-04-08 16:21:30+00:00,Subject: Web Development,2014.0
5,473160.0,Web Design for Web Developers: Build Beautiful...,https://www.udemy.com/web-design-secrets/,0.0,98867.0,6512.0,20.0,All Levels,0.82,3.0,2015-04-13 18:29:47+00:00,Subject: Web Development,2015.0
7,130064.0,Practical PHP: Master the Basics and Code Dyna...,https://www.udemy.com/code-dynamic-websites/,0.0,83737.0,4598.0,45.0,Intermediate Level,0.85,6.5,2014-07-19 03:02:05+00:00,Subject: Web Development,2014.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,1122224.0,How To Make A Web Page With No Code,https://www.udemy.com/how-to-make-a-web-page-w...,0.0,2214.0,20.0,23.0,All Levels,0.93,2.0,2017-03-23 00:06:48+00:00,Subject: Web Development,2017.0
657,1050632.0,"Complete Web Development with HTML, CSS and Ja...",https://www.udemy.com/complete-web-development...,0.0,2097.0,16.0,10.0,All Levels,0.99,2.0,2017-06-27 21:49:31+00:00,Subject: Web Development,2017.0
684,1079078.0,Drupal 8 Site Building,https://www.udemy.com/drupal-8-site-building/,0.0,1942.0,23.0,48.0,Beginner Level,0.24,4.5,2017-05-02 05:15:52+00:00,Subject: Web Development,2017.0
790,1116366.0,HTML and CSS Foundations,https://www.udemy.com/html-and-css-foundations/,0.0,1544.0,15.0,29.0,All Levels,0.96,1.0,2017-06-23 16:51:54+00:00,Subject: Web Development,2017.0
799,1170690.0,Introduction to Elm,https://www.udemy.com/introduction-to-elm/,0.0,1519.0,28.0,20.0,Beginner Level,0.96,1.0,2017-05-15 22:50:07+00:00,Subject: Web Development,2017.0

# please give me your feedback